*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.h1{
    padding: 10px;
}

.Box{
    max-width: 900px;
    width: 90%;
    padding: 20px;
    margin: 10px auto;
    background: white;
}
h2 {
    margin-bottom: 10px;
}
.AddTask{
    margin-bottom: 20px;
}
.inputRow {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
#taskInput{
    flex:1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#addTaskBtn{
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: hwb(233 17% 13%);
    border: 1px solid #f7f0f0;
    color: white;
}
