*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.h1{
    padding: 10px;
}

.Box{
    max-width: 900px;
    width: 90%;
    padding: 20px;
    margin: 10px auto;
    background: white;
}
h2 {
    margin-bottom: 10px;
}
.AddTask{
    margin-bottom: 20px;
}
.inputRow {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
#taskInput{
    flex:1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#addTaskBtn{
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: hwb(233 17% 13%);
    border: 1px solid #f7f0f0;
    color: white;
}

#addTaskBtn:hover{
    background-color: hwb(233 7% 27%);
}

#taskList li{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    /* margin-bottom: 10px; */
    border-radius: 8px;
    border: 1px solid #e5e7eb;   
}
#taskList li span{
    flex: 1 ;
    font-size: 16px;
    color: #374151;
}
#taskList li button{
    background: #f13434;
    color: rgba(255, 255, 255, 0.959);
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
}
#taskList li button:hover {
    background-color: #e81717;
}

/* Checkbox */
.task-checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
